# Node.js dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Log files
*.log

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE and editor settings
.vscode/
.idea/
